********************************************
*                                          *
* DRILL TAPE SUMMARY REPORT                *
*                                          *
* D:\AFILES\STUDENT\TEMP\APDU\PROJECT.MAX  *
* Sat Nov 05 22:52:54 2016                 *
*                                          *
********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       21       200      100                                                                                 
T2       37       6        200      100                                                                                 
T3       137      4        200      100                                                                                 
